/* ----- GENERAL ----- */
body {
    font-family: 'Inter', sans-serif;
    max-width: 1200px; /* Largeur maximale pour le contenu */
    margin: 0 auto; /* Centre le contenu horizontalement */
    padding: 0 20px; /* Ajoute un peu d'espace sur les côtés */
}

/* ----- HEADER ----- */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 50px; /* Espace entre le header et le main */
    height: 80px;   
    padding: 0;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
}

header nav a {
    position: relative;
    text-decoration: none;
    padding: 10px 0; /* Padding vertical uniquement */
    color: black;
    font-size: 16px;
    font-weight: 400;
}

header nav a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); /* Centre le trait */
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.3s ease;
}

header nav a:hover::after,
header nav a.active::after {
    width: 100%;
}

/* ----- MAIN ----- */
.gallery {
    display: grid;
    /* Crée une grille de 3 colonnes de taille égale */
    grid-template-columns: repeat(3, 1fr);

    /* aspect-ratio: 1 / 1; */
    /* Définit un petit espace entre les images, comme sur Instagram */
    gap: 20px;
    margin-top: 5px;
}

.gallery img {
    /* L'image remplit 100% de la largeur de sa cellule */
    width: 100%;
    /* FORCE L'IMAGE À ÊTRE CARRÉE ! */
    aspect-ratio: 1 / 1;
    /* C'est la magie : l'image remplit le carré sans se déformer,
       en rognant les parties qui dépassent. */
    object-fit: cover;
    display: block; /* Évite les espaces indésirables */
    margin-bottom: 50px;
}

/* ----- FOOTER ----- */
footer {
    text-align: center;
    margin-top: 75px;
    margin-bottom: 40px;    
    display: flex;
    justify-content: center;
    gap: 30px; /* Espace entre les icônes */
}

/* ----- RESPONSIVE DESIGN ----- */
/* Pour les tablettes et les mobiles (écrans de moins de 768px) */
@media (max-width: 768px) {

    header {
        flex-direction: column;
        gap: 20px;
        margin-bottom: 40px;
    }
}
